<footer class="footer-distributed">

  <div class="footer-right">

    <a href="https://www.facebook.com/Moovee-Innovations-Inc-169782423168587/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/mooveeinc"><i class="fa fa-twitter"></i></a>
    <a href="https://ca.linkedin.com/in/donald-wong-347a956a"><i class="fa fa-linkedin"></i></a>
    <a href="https://instagram.com/wix/"><i class="fa fa-instagram"></i></a>

  </div>

  <div class="footer-left">
    <p class="footer-links">
      <a href="http://www.mooveeinnovations.com/">Moovee Innovations Inc. &copy; 2015</a>
    </p>
  </div>

</footer>
