<img ng-src="{{friend.imgUrl}}"/>
<h1 style="color: white;">{{friend.name}}</h1>
<div class="list-group" style="color: white;">
    <h4 class="list-group-item-heading friendDetails">Overall Rating</h4>
    <p class="list-group-item-text">{{friend.rating}}</p><br/>
    <h4 class="list-group-item-heading friendDetails">Total Distance</h4>
    <p class="list-group-item-text">{{friend.distance}}</p><br/>
    <h4 class="list-group-item-heading friendDetails">Average Fuel Economy</h4>
    <p class="list-group-item-text">{{friend.avgEcon}}</p><br/>
    <h4 class="list-group-item-heading friendDetails">Current Fuel Level</h4>
    <p class="list-group-item-text">{{friend.fuelLevel}}</p><br/>
    <h4 class="list-group-item-heading friendDetails">Service Date</h4>
    <p class="list-group-item-text">{{friend.serviceDate}}</p>
</div>
