

<div class="container" style="border:1">
  <div class="jumbotron">
    <h1>Hard Brakes</h1>
    <p>Check the number of hard brakes per speed</p>
    <div class="alert alert-danger" id="fadein" role="alert" ng-hide="getMax() == 0">
      Highest: {{ getMax() }} times of hard brakes at {{ getKM() }}
    </div>
  </div>

  <form name="myForm">
    <label for="repeatSelect"> Select a person : </label>
    <select class="form-control dropdown-toggle" style="display:inline !important ;width:30%" name="repeatSelect" id="repeatSelect" ng-model="dropdata.repeatSelect">
      <option ng-repeat="option in dropdata.availableOptions" value="{{option.name}}">{{option.name}}</option>
    </select>
  </form>
  <hr>
  <div class="simple">
    <canvas id="line" class="chart chart-line" chart-data="data"
      chart-labels="labels" chart-legend="true" chart-series="series"
      chart-click="onClick" >
    </canvas>
  </div>
  <div id="metric_results" class="form-contain" style="margin-top:10px;"></div>
</div>
