<div class="container" style="border:1">

  <div class="jumbotron">
    <h1>Longest Drive</h1>
    <p>Check the longest distance driven</p>
    <div class="alert alert-warning" id="fadein" role="alert" ng-hide="getMax() == 0">
      Longest Drive for this month: {{ getMax() | number:1 }}  Km
    </div>
  </div>

<form name="myForm">
  <label>Select month: </label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="month"
          id="myDate"
          class="form-control input"
          name="myDate"
          ng-model="dropdata.repeatMonth"
          class="form-group"
          datepicker-options="dateOptions"
          uib-datepicker-popup="MM/yyyy"
          style = "width:30% !important; display: inline !important"
          />
  <br/> <br/>
  <label for="repeatSelect" > Select a person : </label>
  <select name="repeatSelect" id="repeatSelect" ng-model="dropdata.repeatSelect" class="form-control input" style = "width:30% !important; display: inline !important">
    <option ng-repeat="option in dropdata.availableOptions" value="{{option.name}}">{{option.name}}</option>
  </select>
</form>
  <input type="text" id="getMonth" hidden/><br/>
  <input type="text" id="getYear" hidden/><br/>
  <div class="simple">
    <canvas id="line" class="chart chart-line" chart-data="data"
      chart-labels="labels" chart-legend="true" chart-series="series"
      chart-click="onClick" >
    </canvas>
  </div>
</div>
