

  <!-- KeeBoo  Contents -->
    <header class="image-bg-fluid-height">
            <img class="img-responsive img-center" src="images/main_picture1.png" alt="">
        </header>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">KeeBoo</h2>
                    <h3 class="section-subheading text-muted">A Transport-as-a-Service Articulation</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud System</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile Connectedness</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Joyous Travel</h4>
                </div>
            </div>
            <br/>
            <video class="centerVideo" width="800" height="500" controls>
              <source src="images/main_video.mp4" type="video/mp4">
            </video>
            <br/><br/>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-subheading text-muted">Imagine the ultimate, yet speed from traditional to innovative services.</h4>
                </div>
            </div>
        </div>
    </section>

<div ng-include="'views/footer.html'" ng-show="!loggedIn"></div>
